<div class="productRenderArea"></div>
{{#each products as |product|}}
    <a href="/product/{{product_id}}">
    <div class="productCard">
        <div class="cardHeader">
            <h3>{{product_name}}</h3>
        </div>
        <div class="cardBody">
            <img src="{{image_link}}" alt="The product image" />
        </div>
        <div class="cardFooter">
            <p>{{product_name}} - {{cost}}</p>
        </div>
    </div>
    </a>
{{/each}}
</div>