<div class="productArea">
  <h1 id="productTitle">{{product_name}}</h1>
  <div class="productImageArea">
    <img src="/img/{{category.category_name}}.png" alt="An image of a shield" />
  </div>
  <div class="productInfoArea">
    <h2 id="product_name">{{product_name}}</h2>
    <p>{{category.category_name}}</p>
    <p id="cost">cost: {{cost}} gp</p>
  </div>
  <div class="productDescArea">
    <p>{{description}}</p>
    <ul>
      {{#formatAddedData add_info}}
        <li>{{property}}: {{value}}</li>
      {{/formatAddedData}}
    </ul>
  </div>
</div>

<form id="{{prod_id}}">
  <label for="quantity">quantity</label>
  <input type="range" id="quantity" name="quantity" min="1" max="{{stock}}" />
  <button type="submit">Add To Cart </button>

</form>

<!-- <script
  src="https://unpkg.com/ing-simple-cart@1.0.21/index.js"
  type="text/javascript"
></script>
<script src="/js/product.js"> </script> -->