<div class="productArea">
  <h1 id="productTitle">{{product_name}}</h1>
  <div class="productImageArea">
    <img
      src="./public/img/{{category}}.png"
      alt="An image of a shield"
    />
  </div>
  <div class="productInfoArea">
    <h2 id="product_name">{{product_name}}</h2>
    <p>{{product.category}}</p>
    <p>{{product.stock}}</p>
    <p id="cost">{{product.cost}}</p>
  </div>
  <div class="productDescArea">
    <p>{{product.description}}</p>
    <ul>
      {{#each additional_information}}
        {{!-- <li>{{formatAddedData this}}</li> --
      {{/each}}
    </ul>
  </div>
</div>

<form id="{{product.prod_id}}">
  <label for="quantity">quantity</label>
  <input
    type="range"
    id="quantity"
    name="quantity"
    min="1"
    max="{{product.stock}}"
  />
  <button type="submit">Add To Cart </button>

</form>
<script src="/js/product.js"> </script>